.app {
  background-color: #f0f8ff;
  color: #003366;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.logo {
  height: 200px;
  margin-top: 10px;
}

.info, .achievements, .squad {
  border: 2px solid #003366;
  background-color: #ffffff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
}
